/** SERVICE */
main.services {
   @include desktops {
    background-color: $sosGray;
    
  .top-detail {
    margin-top: 8rem;
  }
  }

}

@include mobile{
  .top-detail {
    margin-top: 0rem;
    h3{
      margin-bottom: 2rem;
    }
  }
}