.hero_section.hero-2 {
  object-fit: cover;
  min-height: 50vh;
  position: relative;

  @include mobile-lg {
    margin-top: 3rem;
  }

  .hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 50px 20px;
    
    .primary-title {
      font-size: 2.5rem;
      margin-top: 5rem;

      @include mobile-lg {
        position: absolute;
        margin-top: 0;
      }
    }
  }

  .hero_img_wrapper {
    position: absolute;
    top: 8rem;

    @include tablet {
      position: relative;
      top: -10rem;
    }

    @include desktops {
      top: 10rem;
    }

    @include large-desktops {
      top: 15.5rem;
    }

    .hero_img {
      width: 100%;
      height: auto;
      margin-top: -46vw;
      object-fit: cover;
      object-position: top;
      height: 130vw;
      max-width: 100vw;
      
      @include mobile-lg {
        margin-top: -22.2vw;
        height: auto;
      }
    }

    .hero_pattern {
      position: absolute;
      top: -22.2vw;
      z-index: 1;
      left: 0;
      width: 100%;
      margin-top: -25vw;
      object-fit: cover;
      object-position: top;
      height: 130vw;
      max-width: 100vw;

      @include mobile-lg {
        top: 2.5vw;
        width: 100%;
        height: auto;
      }
    }
  }
}