.hero_section {
  position: relative;

  .hero_content {
    position: absolute;
    width: 90%;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 60;

    @include mobile-lg {
      top: 8rem;
    }

    @include tablet {
      top: 5rem;
    }

    @include desktops {
      top: 5rem;
      width: 60%;
    }

    @include large-desktops-mid {
      top: 27%;
    }

    h3 {
      font-size: .8rem;
      margin-top: -.7rem;
      text-align: center;

      @include mobile-lg {
        font-size: 1rem;
      }

      @include desktops {
        font-size: 1.5rem;

      }
    }
  }

  
  .hero_2 {
    top: 5rem;
    text-align: center;
    width: 100%;

    @include mobile {
      top: 7rem;
    }

    @include mobile-lg-only {
      top: 10rem;
    }

    @include tablet {
      top: 0rem;
    }

    @include large-desktops {
      top: 5rem;
      width: unset;
    }
    
    .primary_title_2 {
      font-weight: bold;
      font-size: 1.7rem;
      margin: 10% 0 5% 0;

      @include large-desktops {
        font-size: 2.5rem;
      }
    }

    .hero_text  {
      font-weight: normal; 
      font-size: .9rem;
      padding: 0 1.5rem;

      @include mobile-lg {
        font-size: 1rem;
      }
    }
  }

  .pattern_2 {
    // transform: scale(1.2);

    @include mobile {
      transform: scale(1);
    }

    @include desktops {
      transform: scale(1);
    }
  }

  .hero_pattern, .hero_img {
    object-fit: cover;
    object-position: top;
    width: 200vw;
    height: 100vw;

    @include tablet {
      object-fit: unset;
      object-position: unset;
      width: 100%;
      height: auto;
    }
  }

  .hero_pattern {
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .hero_img {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 5;
  }

  .hero_background_2 {
    background-color: $sosLightGray;
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
  }
}