/*NAVBAR*/

@include desktops{
  .sub-menu{
    position: relative;
    display: block;
  }
  
  .sub-menu-content{
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    
  }
  
  .sub-menu:hover .sub-menu-content {
    display: block;
    background-color: #1B1B1B; ;
  }
  }



/*HOME CLIENT*/

.partner-section{
  text-align: center;
}

@include mobile-xs{
  .partner-section {
    .client-logo {
      width: 60%; 
    }
  }
}
@include mobile-lg{
  .partner-section {
    .client-logo {
      width: 45%; 
    }
  }
}
@include tablet{
  .partner-section {
    .client-logo {
      width: 28%; 
    }
  }
}

@include desktops{
  .partner-section {
    .client-logo {
      width: 60%; 
    }
  }
}

@include mobile-xs{
  .text-section{
    h3{ 
      font-size: 13px;
      text-align: end;
    }
  }
}
@include mobile-lg{
  .text-section{
    h3{ 
      font-size: 18px;
      text-align: end;
    }
  }
}

@include tablet{  
  .text-section{
    h3{ 
      font-size: 22px;
      text-align: end;
    }
  }
}

@include desktops{  
  .text-section{
    h3{ 
      font-size: 25px;
      text-align: end;
    }
  }
}