@import '../controls/theme-media-query.scss';

.personal_content {
  display: flex;
  width: 100%;

  @include desktops {
    margin: 3rem 0;
  }

  .image {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .content_children {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1rem;

    @include desktops {
      margin-top: 0;
      margin-left: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    p {
      margin: 1rem 0;
    }


    div {
      margin-top: 1rem;

      a {
        width: max-content;
      }

      span {
        font-weight: bold;
        margin-left: .5rem;

        @include desktops {
          margin-left: 2rem;
        }
      }
    }

  }

  .image_right {
    order: 2;
  }

  .content_left {
    order: 1;
    margin-left: 0;

    @include desktops {
      padding-right: 12rem;
    }
  }
}