.navbar-collapse {
  display: flex;
  flex-direction: column;

  @include desktops {
    flex-direction: row;
  }

  .dropdown-menu {
    background-color: #343a40;
    @include mobile-xs {
      position: relative;
      transition: all ease .5s;
    }
  
    @include desktops {
      position: absolute;
    }

    .dropdown-item:hover, .dropdown-item:focus {
      background-color: transparent;
      color: gray !important;
    }
  }
}

@include desktops{
  .sub-menu{
    position: relative;
    display: block;
  }
  
  .sub-menu-content{
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    
  }
  
  .sub-menu:hover .sub-menu-content {
    display: block;
    background-color: #1B1B1B; ;
  }
}