@import '../controls/theme-media-query.scss';

/*APPROACH SECTION */
.all_content {
  height: 35rem;
  background-color: #c4c4c8;

  .big_content {
    background-color: #c4c4c8;
    padding-left: 5rem;
    padding-right: 5rem;

    .content {
      padding-top: 5rem;
      color: black;
      padding-left: 5rem;
    }

    .text {
      padding-top: 5rem;
      color: black;
    }
  }

  .pattern {
    position: absolute;
    width: 100%;
    top: 52rem;
  }

  .big_content2 {
    padding-top: 4rem;
    padding-left: 5rem;

    .content1 {
      padding-top: 4rem;
      padding-left: 5rem;
      width: 100%;
      color: white;
      font-weight: bold;
    }
  }

  .text1 {
    padding-top: 8rem;
    color: white;
  }
}


/* Consultation section */

.consult_content {
  background-color: #4d4d4d;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 2rem;

  .color_text {
    color: white;
    padding-bottom: 2rem;
  }
  
  .consult_detail {
    color: white;
  }

.btn {
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 6rem;
  }
}

/* Value section */
.values_section {
  background-color: #bdbdbd;
  color: #121212;
  padding-bottom: 3rem;

  h1, h3 {
    font-weight: bold;
  }

  .values_content {
    padding: 0 1rem;

    @include desktops {
      padding: 0 7rem 0 10rem;
    }
  }
}


/* SOS Button */

.connect_section {
  position: relative;
  background-color: #121212;

  .connect_pattern {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .connect_content {
    position: absolute;
    z-index: 1;
    top: 32%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}


/*Bottom section*/

.bottom_section {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
}


















