@import '../controls/theme-media-query.scss';
//[BlogPages] secction

.Nosection {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.imgArticle {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative;

  @include desktops {
    padding-top: 8rem;
    width: 60%;
  }
}

.section {
  position: relative;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    text-align: left;

    @include desktops {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .articleHtml {
    position: relative;
    text-align: start;

    h2,
    h3,
    h4 {
      font-size: 1.6rem !important;
      margin-bottom: 2rem;
      padding-top: 1.5rem;
    }

    img {
      display: block;
      margin: 2rem auto;
      width: 80%;
      height: 30rem;
      object-fit: cover;
    }

    p,
    li,
    pre {
      text-align: justify;
      margin-bottom: 1.5rem;
      font-weight: normal;
      color: #fff;
    }
  }
}

//BlogContent Section

.items {
  margin-left: 0rem;

  @include desktops {
    margin-left: 7rem;
  }
}

//BlogItems Section
.img {
  width: 100%;
}

.titleTex {
  text-decoration: none;
}

.titleText:hover {
  text-decoration: none;
  color: white;
}


.text {
  padding-top: 0.5rem;
  text-decoration: none;
  font-size: 15px;
}

.text:hover {
  text-decoration: none;
  color: white;
}